.dropdown{
    position: fixed;
    left: 55%;
    z-index: 2;
}
.carousel-item{
    width: 100vw;
    height: 100vh;
}
p{
    position: relative;
    width: 48%;
}
.background_heading{
     position: fixed;
     background: radial-gradient(ellipse at center, white 0%, #fff8d4 100%);
     border-bottom: 2px solid darkgoldenrod;
     width: 50vw;
     height: 43vh;
 }
.pearls{
    background: radial-gradient(ellipse at center, #ffffff 0%, #d5c8a2 50%);
    width: 2rem;
    height: 2rem;
    border: solid #d5c8a2 2px;
    border-radius: 50%;
    position: fixed;
    box-shadow: #b4b5bd 2px 2px 2px;
    z-index: 1;
}
#pearl1{
    top: 15%;
    left: 3.5%;
}
#pearl2{
    top: 20%;
    left: 20%;
}
#pearl3{
    height: 1.5rem;
    width: 1.5rem;
    left: 25%;
    top: 8%;
}
#pearl4{
    top: 35%;
    left: 45%;
    height: 2.2rem;
    width: 2.2rem;
}
#pearl5{
    top: 4%;
    left: 51%;
    height: 2.5rem;
    width: 2.5rem;
}
#gradiant_page1{
     position: fixed;
     height: 5rem;
     width: 50vw;
     background: linear-gradient(to top, #f1e6b9 0%, white 100%);
     right: 0;
     bottom: 0;
     text-align: center;
 }
.heading{
    font-family: Monsieur La Doulaise;
    position: relative;
    font-size: 8.5rem;
    top: 2%;
    left: 5%;
    width: 45%;
    margin: 0;
    padding: 0;
}
#couture{
    position: relative;
    text-align: center;
    left: 10%;
}
#fall2007_1{
    position: relative;
    width: 20%;
    height: 55%;
    border: 5px ridge palegoldenrod;
    right: 50.3%;
    top: 2%;
    float: right;
}
#overview\ haute\ couture{
    top: 5%;
    left: 2%;
    width: 25%;
    height: 50%;
    font-size: 110%;
}
.black_stripe{
    position: fixed;
    height: 1000vh;
    width: 1.5px;
    background-color: #000000;
    top: 0;
    left: 50%;
    z-index: 1;
}
#fall2007_2{
     position: relative;
     float: right;
     width: 18%;
     height: 50%;
     top: -87%;
     left: -10%;
     border: ridge palegoldenrod 5px;
 }
#history_haute{
    left: 71%;
    width: 28%;
    height: 100%;
    top: -92%;
    font-size: 110%;
}
#history_haute_rest{
    position: relative;
    top: -137%;
    left: 52%;
    width: 48%;
    font-size: 110%;
}
#Rococo{
    font-size: 7rem;
    font-weight: bold;
    left: 0;
    top: 7%;
    text-align: center;
}
#rococo_bg{
    background: radial-gradient(circle, #abc9d5 0%, #e2f7ff 80%,white 100% );
    border-bottom: #abc9d5 3px solid;
    height: 25%;
}
#laceborder{
    position: fixed;
    width: 50%;
    height: 8%;
    top: 0;
}
#rococo_part1{
    top: 10%;
    width: 30%;
    left: 1%;
}
#rococo_part2{
    top: 10%;
    left: 1%;
    width: 30%;
}
#rococo_part2_rest{
    top: 9%;
    left: 1%;
}
#rococo_part3, #rococo_part4, #rococo_part5{
    left: 51%;
    top: -90%;
}
#rococo_part4, #rococo_part5{
    width: 30%;
}
#blue_dress_portrait{
    position: fixed;
    width: 17%;
    height: 50%;
    left: 32%;
    top: 26%;
    border: ridge palegoldenrod 5px;
}
#fashionatversailles{
    position: fixed;
    width: 17%;
    height: 50%;
    top: 38%;
    right: 1%;
    border: ridge palegoldenrod 5px;
}
#gradiant_page2 {
    position: fixed;
    height: 3rem;
    width: 50vw;
    background: linear-gradient(to top, #e2f7ff 0%, white 100%);
    right: 0;
    bottom: 0;
    text-align: center;
}

#empire_bg{
    background: radial-gradient(ellipse at center, #ffffff 0%, silver 100%);
    border-bottom: 2px solid #9f9f9f;
    height: 24vh;
}
#empire{
    font-size: 7rem;
    text-align: center;
    top: 4%;
    left: 0;
}
#PrincessDorothea{
    position: relative;
    height: 42%;
    width: 16%;
    border: ridge palegoldenrod 5px;
    margin: 1%;
    top: 38%;
}
.overview_empire{
    top: -38%;
    left: 1%;
    margin: 0.3%;
}
#LaSoiree{
    position: fixed;
    left: 20%;
    bottom: 1%;
    width: 28%;
    height: 37%;
    border: ridge palegoldenrod 5px;

}
.history_empire{
    position: relative;
    left: 52%;
    top: -92%;
    margin: 0.3%;
}
#gradiant_page3 {
    position: fixed;
    height: 2.5rem;
    width: 50vw;
    background: linear-gradient(to top, silver 0%, white 100%);
    right: 0;
    bottom: 0;
    text-align: center;
}
#head{
    border-radius: 50%;
    position: fixed;
    background-color: #f6ddc2;
    width: 30vw;
    height: 30vw;
    bottom: 10%;
    right: 10%;
    z-index: 1;
}
#blush1, #blush2{
    position: fixed;
    background: radial-gradient(ellipse at center, rgba(227, 167, 167, 0.5) 0%, #f6ddc2 60%);
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    bottom: 10%;
    right: 10%;
    z-index: 2;
}
#blush1{
    bottom: 15%;
    right: 14%;
}
#blush2{
    bottom: 30%;
    right: 30%;
}
#neck{
    position: fixed;
    width: 5vw;
    height: 15vw;
    background-color: #f6ddc2;
    bottom: 0;
    right: 30%;
    transform: rotate(30deg);
    z-index: 1;
}
#body{
    position: fixed;
    bottom: -28%;
    width: 30vw;
    height: 20vw;
    right: 30%;
    background-color: #f6ddc2;
    transform: rotate(30deg);
    border-radius: 25%;
    z-index: 1;
}
#clothes{
    position: fixed;
    bottom: -43%;
    width: 30vw;
    height: 20vw;
    right: 27%;
    background-color: #c8aee1;
    transform: rotate(30deg);
    border-radius: 0;
    border-left: solid #aa9a87 6px;
    z-index: 2;
}
#eyewhite1, #eyewhite2{
    position: fixed;
    width: 8vw;
    height: 8vw;
    background-color: #e5f0fa;
    border-radius: 50%;
    z-index: 2;
}
#eyewhite1{
    bottom: 22.5%;
    right: 15.2%;
}
#eyewhite2{
    bottom: 35%;
    right: 28%;
}
#iris1, #iris2{
    position: fixed;
    border-radius: 50%;
    background: #231704;
    width: 5vw;
    height: 5vw;
    z-index: 3;
}
#iris1{
    bottom: 23%;
    right: 17.2%;
}
#iris2{
    bottom: 35.5%;
    right: 30%;
}
#eye1, #eye2{
    position: fixed;
    border-radius: 50%;
    background-color: black;
    width: 3vw;
    height: 3vw;
    z-index: 4;
}
#eye1{
    bottom: 25.5%;
    right: 18.5%;
}
#eye2{
    bottom: 38.3%;
    right: 31.2%;
}
#eyelid1, #eyelid2{
    position: fixed;
    width: 9vw;
    height: 5vw;
    background-color: #f6ddc2;
    transform: rotate(31deg);
    border-bottom: solid black 5px;
    z-index: 5;
}
#eyelid1{
    bottom: 29.5%;
    right: 13.6%;
}
#eyelid2{
    bottom: 42.5%;
    right: 26%;
}
#hairhead{
    position: fixed;
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    background-color: black;
    bottom: 6%;
    right: 7%;
    z-index: 0;
}
#hair{
    position: fixed;
    bottom: 0;
    right: 7%;
    background-color: black;
    width: 35vw;
    height: 20vw;
    z-index: -1;
}
#bangsstraight{
    position: fixed;
    width: 30vw;
    height: 10vw;
    background-color: black;
    border-radius: 20%;
    bottom: 37.5%;
    right: 7.5%;
    z-index: 6;
    transform: rotate(30deg);
}
#bangscircle{
    position: fixed;
    width: 25vw;
    height: 15vw;
    background-color: black;
    border-radius: 50%;
    bottom: 40%;
    right: 7%;
    z-index: 7;
    transform: rotate(30deg);
}
#cover_styles, #cover_fashion{
    position: fixed;
    font-size: 13rem;
    font-family: Monsieur La Doulaise;
}
#cover_styles{
    bottom: 1.5%;
    left: 1%;
}
#cover_fashion{
    top: 1%;
    right: 1%;
}
.circle{
    position: fixed;
    border-radius: 50%;
    animation-name: circleanimation;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    width: 2vw;
    height: 2vw;
    z-index: -2;
}
@keyframes circleanimation {
    0%{background-color: #e6a7a7;}
    25%{background-color: #e1c48e; width: 15vw; height: 15vw;}
    50%{background-color: #c4e1b1; width: 20vw; height: 20vw;}
    75%{background-color: #74b6d3; width: 25vw; height: 25vw;}
    100%{background-color: #be9bc8; width: 35vw; height: 35vw;}
}
#circle1{
    bottom: 25%;
    right: 20%;
}
#circle2{
    bottom: -10%;
    right: 40%;
}
#circle3{
    bottom: -10%;
    right: 1%;
}
#circle4{
    bottom: 35%;
    right: 1%;
}
#eiffel_tower{
    position: fixed;
    z-index: -2;
    width: 75vw;
    height: 150vw;
    top: -100%;
    left: -15%;
    opacity: 0.7;
}