dl{
    list-style-type: none;
    top: 0;
    left: 0;
    width: 13vw;
    padding: 0;
    margin: 0;
    background: rgb(237, 237, 237);
    height: 100%;
    position: fixed;
    overflow: auto;
}
dt{
    margin: 0;
    padding: 0.5em;
}
dd{
    padding: 0.2em;
}
dt:hover, dd:hover{
    background: #cdcdcd;
    color: white;
}
main{
    margin-left: 13vw;
    padding-left: 2vw;
    padding-right: 1vw;
    font-size: 1.1rem;
}
header{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: Monsieur La Doulaise;
}
h1{
    font-size: 1.3rem;
    font-weight: bolder;
    font-style: italic;
}
h2{
    font-size: 1.2rem;
    font-weight: bold;
}
h3{
    font-size: 1.15rem;
    font-weight: lighter;
}
br{
    ;
}