#title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Monsieur La Doulaise;
}
body{
    background-image: url("background.png");
    background-size: 50%, contain;
    background-repeat: repeat;
    color: white;
}
/*#background
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: url("background.png") repeat;
    background-size: contain;
    z-index: 1;
    opacity: 0.2;
}*/

#list{
    font-weight: bold;
}
header{
    font-size: 1.25rem;
}
.subheadings{
    font-size: 1.10rem;
}
img{
    max-width: 10%;
    float: right;
}
