html, body {
    display: flex;
    background: url("background.png") repeat;
    background-size: 50% auto; /* show background image twice fully */
    position: relative;
    overflow: hidden;
    background-color: #000;
}

body {
    display: flex;
    background: url("background.png") repeat;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

#left-stripe {
    position: fixed;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100vh;
    background: black;
    z-index: 5;
}

#magazine-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* center image */
    width: 100vw;
    height: 100vh;
    background: url("fashion magazine.png") no-repeat center center;
    background-size: contain;
    z-index: 2;
}

#french {
    position: fixed;
    top: 10px;
    left: 10.5vw;
    font-size: 6.2rem;
    font-family: "Monsieur La Doulaise";
    font-weight: bold;
    color: white;
    z-index: 1;
}

#fashion {
    position: fixed;
    bottom: 0;
    right: 20px;
    font-size: 6.2rem;
    font-family: "Monsieur La Doulaise";
    font-weight: bold;
    color: white;
    z-index: 10;
}

#overview {
    position: fixed;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 10;
    text-align: right;
}

#overview ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    font-size: 1rem;
}

#overview li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#overview li a:hover {
    text-decoration: underline;
}
/*#circle{
    position: relative;
    top: 20%;
    right: 0;
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    background: white;
    opacity: 0.7;
    z-index: 9;

}*/