#title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Monsieur La Doulaise;
}
body{
    background-color: #e4fdfd;
}
.subtext{
    text-align: left;
}
#list{
    font-weight: bold;
}
header{
    font-size: 1.25rem;
}
.subheadings{
    font-size: 1.10rem;
}
img{
    max-width: 10%;
    float: right;
}
